@import url('https://fonts.cdnfonts.com/css/kg-attack-of-the-robots');

body {
  background:url(../assets/pinkpantherbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'KG Attack of the Robots', sans-serif;
  font-size: 55px;                                            
}

.title span {
  color: #FAC0C8;
}

.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  padding: 10px;
  background-color: #FAC0C8;
  color: black;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  width: 360px;
  justify-content: space-between;
  background-color: #FAC0C8;
  color: black;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 12px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}

.line_through {
  text-decoration: line-through;
}